body {
    background: url(asphalt_texture3606.jpg) gray;
}

ul {
    margin: 50px;
    padding: 0;
    list-style: none;
}

ul {
    font-size: 0;
}

li {
    width: 100px;
    height: 100px;
    border: 5px solid #FFFFFF;
    cursor: pointer;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-bottom: -5px;
    margin-right: -5px;
}

li:nth-child(3n-1) {
    display: inline-block;
}

li:nth-child(3n) {
    display: inline-block;
}